
h1.AllBooksTitle{
    color:rgb(67, 90, 18);
    font-size:100px;
    font-weight:400;
    margin:20px; 
    display:flex;
    justify-content:center;
    align-items:center;
}

div.BookSquaresList{
    display: flex;
    height:370px;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

div.BookListPagination{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}