div.NewAssignmentCard{
    border:solid;
    border-width: 2px;
    border-radius: 20px;
    padding:35px;
    margin-bottom: 30px;
    background-color: #f9eee1;
    /* background-color: rgb(220, 229, 210); */
}

h1.NewAssignmentTitle{
    font-size: 52px;
    color: black;
    padding-bottom: 15px;
    font-weight: 150;
    position: relative;
}

Button.AssignmentSubmit{
    margin-top: 25px;
    color: black;
    background-color: #b77d5c;
    position: flex;
    width:25%;
}

Button.DeleteUserButton{
    margin-top: 10px;
    padding:10px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid;
    border-width: 1px;
    color: black;
    position: flex;
    left: 100px;
}
