body{
    padding-top: 40px;
    padding-bottom: 20px;
    display: fixed;
    justify-content: center;
}

div.CurrentDetails{
    display: fixed;
    justify-content: center;
    font-weight: 300px;
}

div.messages{
    margin-bottom: 10px;
    padding-bottom: 20px;
}

h1.BookGroupWelcome{
    border:none;
    color:rgb(67, 90, 18);
    font-size: 60px;
    font-weight: 400;
}

div.bookGroupButtons{
    padding-bottom: 15px;
    margin: auto;
    text-align: center;
}

div.Members{
    background-color: rgba(126, 142, 32, 0.666);
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    column-count: 2;
    column-gap: 10%;
    text-align: center;
    justify-content: center;
    height:50%;
    margin: 10px;
}

div.BookGroup{
    align-items: top;
    display:flex;
}