body{
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.CurrentDetails{
    display: fixed;
    justify-content: center;
}

div.messages{
    margin-bottom: 10px;
    padding-bottom: 10px;
}

h1.BookGroupWelcome{
    border:none;
    color:rgb(67, 90, 18);
    font-size: 60px;
    font-weight: 400;
}

div.bookGroupButtons{
    padding-bottom: 15px;
    margin: auto;
    text-align: center;
}

div.Members{
    background-color: rgba(126, 142, 32, 0.666);
    border-radius: 10px;
    padding: 20px;
    padding-left: 25px;
    text-align: start;
    height:50%;
    margin-top: 10px;
    h3.Memberstitle{
        column-count: 1;
        font-weight: 300;
        font-size: 20px;
        color: white;
    }
    div.MembersNames{
        /* column-count: 2;
        column-gap: 30%; */
        padding-bottom: 10px;
        color: black;
    }
}

div.BookGroup{
    align-items: top;
    display:flex;
}