h1.LogIn{
    color:rgb(67, 90, 18);
    font-size:100px;
    font-weight:400;
    margin:20px; 
    padding-left: 17%;
    padding-right: 17%;
}

form.LogInForm{
    margin: 20px;
    padding: 5px;
    text-align: center;
}

ul.LogInBoxes{
    list-style-type: none;
    padding: 10px;
    margin: 20px;
    font-size: 23px;
    font-weight: 300;
    color: rgb(67, 90, 18);
    input{
        padding: 4px;
        width: 90%;
    }
}