div.MessageCard{
    margin:10px;
    background:rgb(126, 142, 32);
    border-radius: 10px;
}

p.MessageUserName{
    font-size:22px;
    padding-left:20px;
    padding-top:10px;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}

p.MessageDate{
    color: white;
    font-size:13px;
    padding-left:20px;
    margin-left:15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul.MessageMessage{
    list-style-type: none;
    padding-right: 25px;
    padding-left: 25px;
    color: black;
    font-style: italic;
    padding-bottom: 15px;
    font-weight: 350;
}

