div.NewMeeting{
    border:solid;
    border-width: 2px;
    border-radius: 20px;
    padding:35px;
    margin-bottom: 30px;
    background-color: #f9eee1;;
}

h1.NewMeetingTitle{
    font-size: 52px;
    color: black;
    padding-bottom: 20px;
    font-weight: 150;
}

Button.NewMeetingSubmit{
    margin-top: 10px;
    padding:10px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    background-color:#b77d5c;
    position: flex;
    left:1px;
    width:25%;
}