h1.UserTitle{
    font-size: 52px;
    color: black;
    padding-bottom: 20px;
    font-weight: 150;
}

ul.UserDetails{
    list-style-type: none;
    padding: 10px;
    margin: 20px;
    padding-bottom: 10px;
}

li.textBox{
    padding:5px;
    position:flex;
    margin-bottom:3px;
    input{
        padding:5px;
        width: 90%;
    }
}

div.UserForm{
    border:solid;
    border-width: 2px;
    border-radius: 20px;
    padding:35px;
    margin-top:30px;
    margin-bottom: 25px;
    background-color: rgb(220, 229, 210);
}

Button.UserSubmit{
    color: black;
    background-color: #b77d5c;
    left:29px;
    width:30%;
    padding:10px;
}

Button.DeleteUserButton{
    border: solid;
    border-width: 1px;
    color: black;
    width:50%;
    margin-bottom: 10px;
}

li.userSelect{
    padding-top: 10px;
    position: flex;
}